{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <h2>About</h2>
        </div>
        <div class="row">
            <p>
                The Human Cell Cycle Browser (hCCB) is an interactive tool for exploring, simulating, and perturbing
                the human cell cycle. It was developed in the spirit of the UCSC Genome Browser, which provides a 
				graphical view of genome sequence data along the physical coordinates of the chromosomes 
				(<a href="https://genome.ucsc.edu">https://genome.ucsc.edu</a>). Unlike the Genome Browser, however, 
				the primary axis of the CCB browser is time. In its most basic functionality, the hCCB displays time 
				series data representing various molecular activities over the course of a single cell cycle. Single-cell 
				traces from time-lapse fluorescent microscopy experiments—representing different biological activities 
				from multiple cell lines—may be aligned in time to examine the temporal sequence of cell cycle events.
            </p>
        </div>
    </div>
{% endblock %}
