{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <h2>About</h2>
        </div>
        <div class="row">
            <p>
                The Cell Cycle Browser (CCB) (version 1.0) is an interactive tool for exploring, simulating, and perturbing
                the human cell cycle. It was developed in the spirit of the UCSC Genome Browser, which provides a 
				graphical view of genome sequence data along the physical coordinates of the chromosomes 
				(<a href="https://genome.ucsc.edu">https://genome.ucsc.edu</a>). Unlike the Genome Browser, however, 
				the primary axis of the CCB browser is time. In its most basic functionality, the CCB displays time
				series data representing various molecular activities over the course of a single cell cycle. Single-cell 
				traces from time-lapse fluorescent microscopy experiments—representing different biological activities 
				from multiple cell lines—may be aligned in time to examine the temporal sequence of cell cycle events.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Team</h3>
        </div>
        <div class="row">
            <label class = "col-sm-4">David Borland</label>
			<div class="col-sm-8">
				Lead Programmer, User Interface
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Hong Yi</label>
			<div class="col-sm-8">
				Lead Programmer, Server Support and Model Simulation
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Gavin Grant</label>
			<div class="col-sm-8">
				Postdoctoral Fellow, Biosensor Design and Microscopy
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Kasia Kedziora</label>
			<div class="col-sm-8">
				Postdoctoral Fellow, Microscopy and Image Analysis
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Sherry Chao</label>
			<div class="col-sm-8">
				Graduate Student, Microscopy and Image Analysis
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Ray Haggerty</label>
			<div class="col-sm-8">
				Graduate Student, Logo Design
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Jayashree Kumar</label>
			<div class="col-sm-8">
				Graduate Student, Generation of SBML Models
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Jean Cook</label>
			<div class="col-sm-8">
				Principal Investigator
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Jeremy Purvis</label>
			<div class="col-sm-8">
				Principal Investigator
			</div>
        </div>
		<div class="row">
            <h4>This work was supported by a medical research grant from W. M. Keck Foundation.</h4>
        </div>
    </div>
{% endblock %}
