{% extends 'base.html' %}

{% block title %}Add New Profile{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2>Create a new profile for cell cycle browser</h2>
      <ul>
        <li>Select existing or upload new cell data and model data to be included in the new profile.</li>
        <li>Input name and description for each cell data and model data included in the new profile.</li>
        <li>You can include multiple cell data and model data in the same profile for comparative visualization.</li>
      </ul>
      <form class="form-horizontal" role="form" action="/add_profile_to_server/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_pname">Profile Name: </label>
            <input id="pname" class="form-control" name="pname" placeholder="Profile name" value="" type="text" />
        </div>
        <div class="form-group">
            <label for="id_pdesc">Profile Description:</label>
            <input id="pdesc" class="form-control" name="pdesc" placeholder="Profile Description" value="" type="text" />
        </div>
        <hr>
        <div class="form-group">
            <label for="cell_sel_files">Upload csv cell data</label>
            <input type="file" class="btn-add-access" name="cell_files" id="cell_sel_files" multiple/>
            <p class="help-block">You can upload multiple csv cell datasets simultaneously.</p>
        </div>
        <div class="form-group">
            <label for="cell_sel_names">Select existing csv cell data</label>
            <select class="form-control" name="cell_sel_names" id="cell_sel_names" multiple>
                <option value="">----None----</option>
                {% for fname in cell_data_names %}
                    <option value={{ fname }}>{{ fname }}</option>
                {% endfor %}
            </select>
            <p class="help-block">You can select multiple csv cell datasets by holding down the Ctrl or Shift key. Select the first <i>None</i> item if you don't want to select any dataset.</p>
        </div>
        <div class="form-group">
            <label for="id_cdname">Cell Data Display Name:</label>
            <input id="cdname" class="form-control" name="cdname" placeholder="cell_data_file_name:cell_data_display_name;another_file_name:another_display_name" value="" type="text" />
            <p class="help-block">The input must be in the format of cell_data_file_name:cell_data_display_name separated by colon for multiple datasets.</p>
        </div>
        <div class="form-group">
            <label for="id_cddesc">Cell Data Description:</label>
            <input id="cddesc" class="form-control" name="cddesc" placeholder="cell_data_file_name:cell_data_description;;another_file_name:another_description" value="" type="text" />
            <p class="help-block">The input must be in the format of cell_data_file_name:cell_data_description separated by colon for multiple datasets.</p>
        </div>
        <hr>
        <div class="form-group">
            <label for="model_sel_files">Upload SBML model data</label>
            <input type="file" class="btn-add-access" name="model_files" id="model_sel_files" multiple/>
            <p class="help-block">You can upload multiple SBML model datasets simultaneously.</p>
        </div>
        <div class="form-group">
            <label for="model_sel_names">Select existing SBML model data</label>
            <select class="form-control" name="model_sel_names" id="model_sel_names" multiple>
                <option value="">----None----</option>
                {% for fname in model_data_names %}
                    <option value={{ fname }}>{{ fname }}</option>
                {% endfor %}
            </select>
            <p class="help-block">You can select multiple model datasets by holding down the Ctrl or Shift key. Select the first <i>None</i> item if you don't want to select any dataset.</p>
        </div>
        <div class="form-group">
            <label for="id_cdname">Model Data Display Name:</label>
            <input id="mdname" class="form-control" name="mdname" placeholder="model_data_file_name:model_data_display_name;another_file_name:another_display_name" value="" type="text" />
            <p class="help-block">The input must be in the format of model_data_file_name:model_data_display_name separated by colon for multiple datasets.</p>
        </div>
        <div class="form-group">
            <label for="id_cddesc">Model Data Description:</label>
            <input id="mddesc" class="form-control" name="mddesc" placeholder="model_data_file_name:model_data_description;another_file_name:another_description" value="" type="text" />
            <p class="help-block">The input must be in the format of model_data_file_name:model_data_description separated by colon for multiple datasets.</p>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-6 col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add New Profile</button>
          </div>
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <li style="color: red">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  {% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function() {
        // files selected from browser which are appended to display name and description boxes for placeholder input
        var cell_file_sel_str='';
        var model_file_sel_str='';
        // files selected from multiple select list which are appended to display name and description boxes for placeholder input
        var cell_name_sel_str='';
        var model_name_sel_str='';
        $('#cell_sel_files').on('change', function (e) {
            if (this.value.length > 0) {
                var i;
                cell_file_sel_str='';
                for (i=0; i<this.files.length; i++) {
                    if (i==0)
                        cell_file_sel_str += this.files[i].name + ":" + this.files[i].name;
                    else
                        cell_file_sel_str += ";" + this.files[i].name + ":" + this.files[i].name;
                }
                if (cell_name_sel_str.length > 0) {
                    $('#cdname').val(cell_file_sel_str + ";" + cell_name_sel_str);
                    $('#cddesc').val(cell_file_sel_str + ";" + cell_name_sel_str);
                }
                else {
                    $('#cdname').val(cell_file_sel_str);
                    $('#cddesc').val(cell_file_sel_str);
                }
            }
            else {
                // no file has been selected from browser
                cell_file_sel_str = '';
                $('#cdname').val(cell_name_sel_str);
                $('#cddesc').val(cell_name_sel_str);
            }
        });
        $('#cell_sel_names').on('change', function (e) {
            var selected = $(e.target).val();
            if ($.inArray('', selected) == -1) {
                // if None is not selected
                var i;
                cell_name_sel_str = '';
                for (i=0; i<selected.length; i++) {
                    if (i==0)
                        cell_name_sel_str += selected[i] + ":" + selected[i];
                    else
                        cell_name_sel_str += ";" + selected[i] + ":" + selected[i];
                }
                if (cell_file_sel_str.length > 0) {
                    $('#cdname').val(cell_file_sel_str + ";" + cell_name_sel_str);
                    $('#cddesc').val(cell_file_sel_str + ";" + cell_name_sel_str);
                }
                else {
                    $('#cdname').val(cell_name_sel_str);
                    $('#cddesc').val(cell_name_sel_str);
                }
            }
            else {
                // Nothing is selected
                cell_name_sel_str = '';
                $('#cdname').val(cell_file_sel_str);
                $('#cddesc').val(cell_file_sel_str);
            }
        });
        $('#model_sel_files').on('change', function (e) {
            if (this.value.length > 0) {
                var i;
                model_file_sel_str='';
                for (i=0; i<this.files.length; i++) {
                    if (i==0)
                        model_file_sel_str += this.files[i].name + ":" + this.files[i].name;
                    else
                        model_file_sel_str += ";" + this.files[i].name + ":" + this.files[i].name;
                }
                if (model_name_sel_str.length > 0) {
                    $('#mdname').val(model_file_sel_str + ";" + model_name_sel_str);
                    $('#mddesc').val(model_file_sel_str + ";" + model_name_sel_str);
                }
                else {
                    $('#mdname').val(model_file_sel_str);
                    $('#mddesc').val(model_file_sel_str);
                }
            }
            else {
                // no file has been selected from browser
                model_file_sel_str = '';
                $('#mdname').val(model_name_sel_str);
                $('#mddesc').val(model_name_sel_str);
            }
        });
        $('#model_sel_names').on('change', function (e) {
            var selected = $(e.target).val();
            if ($.inArray('', selected) == -1) {
                // if None is not selected
                var i;
                model_name_sel_str = '';
                for (i=0; i<selected.length; i++) {
                    if (i==0)
                        model_name_sel_str += selected[i] + ":" + selected[i];
                    else
                        model_name_sel_str += ";" + selected[i] + ":" + selected[i];
                }
                if (model_file_sel_str.length > 0) {
                    $('#mdname').val(model_file_sel_str + ";" + model_name_sel_str);
                    $('#mddesc').val(model_file_sel_str + ";" + model_name_sel_str);
                }
                else {
                    $('#mdname').val(model_name_sel_str);
                    $('#mddesc').val(model_name_sel_str);
                }
            }
            else {
                // Nothing is selected
                model_name_sel_str = '';
                $('#mdname').val(model_file_sel_str);
                $('#mddesc').val(model_file_sel_str);
            }
        });
     });
    </script>
  {% endblock %}
{% endblock %}
