{% extends 'base.html' %}

{% block title %}Add New Profile{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2>Create a new profile for cell cycle browser</h2>
      <ul>
        <li>Select existing or upload new cell data and model data to be included in the new profile.</li>
        <li>Input name and description for each cell data and model data included in the new profile.</li>
        <li>You can include multiple cell data and model data in the same profile for comparative visualization.</li>
      </ul>
      <form class="form-horizontal" role="form" action="/add_profile_to_server/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_pname">Profile Name: *</label>
            <input id="pname" class="form-control" name="pname" placeholder="Profile name" value="" type="text" required/>
        </div>
        <div class="form-group">
            <label for="id_pdesc">Profile Description: *</label>
            <input id="pdesc" class="form-control" name="pdesc" placeholder="Profile Description" value="" type="text" required/>
        </div>
        <hr>
        <div class="form-group">
            <label for="cell_sel_files">Upload csv cell data</label>
            <input type="file" class="btn-add-access" name="cell_files" id="cell_sel_files" multiple/>
            <p class="help-block">You can upload multiple csv cell datasets simultaneously.</p>
        </div>
        <div class="form-group">
            <label for="cell_sel_names">Select existing csv cell data</label>
            <select class="form-control" name="cell_sel_names" id="cell_sel_names" multiple>
                <option value="">----None----</option>
                {% for fname in cell_data_names %}
                    <option value={{ fname }}>{{ fname }}</option>
                {% endfor %}
            </select>
            <p class="help-block">You can select multiple csv cell datasets by holding down the Ctrl or Shift key. Select the first <i>None</i> item if you don't want to select any dataset.</p>
        </div>
        <div class="form-group">
            <label for="id_cdname">Cell Data Display Name:</label>
            <input id="cdname" class="form-control" name="cdname" placeholder="cell_data_file_name:cell_data_display_name;another_file_name:another_display_name" value="" type="text" />
            <p class="help-block">The input must be in the format of cell_data_file_name:cell_data_display_name separated by semicolon for multiple datasets.</p>
        </div>
        <div class="form-group">
            <label for="id_cddesc">Cell Data Description:</label>
            <input id="cddesc" class="form-control" name="cddesc" placeholder="cell_data_file_name:cell_data_description;;another_file_name:another_description" value="" type="text" />
            <p class="help-block">The input must be in the format of cell_data_file_name:cell_data_description separated by semicolon for multiple datasets.</p>
        </div>
        <hr>
        <div class="form-group">
            <label for="model_sel_files">Upload SBML model data and/or create your own SBML model data</label>
            <input type="file" class="btn-add-access" name="model_files" id="model_sel_files" multiple/>
            <p class="help-block">You can upload multiple SBML model datasets simultaneously.</p>
            <a type="button" class="btn btn-default" data-toggle="modal" data-target="#create-sbml-model-dialog">Create your own SBML model data</a>
            <p class="help-block">You can create your own SBML sequential model data where each subphase follows over each other.</p>
            <input type="hidden" id="new_sbml_model_file_name" name="new_sbml_model_file_name" value="">
            <a id="delete-sbml-model" type="button" class="btn btn-default hidden-form" data-toggle="modal" data-target="#delete-sbml-model-dialog">Delete SBML model data you just created</a>
            <p id="delete-sbml-model-help-block" class="help-block hidden-form">You can delete the just created SBML model data if you don't want it to be included in the profile.</p>
            <h2 id="create-or-delete-sbml-msg"></h2>
        </div>
        <hr>
        <div class="form-group">
            <label for="model_sel_names">Select existing SBML model data</label>
            <select class="form-control" name="model_sel_names" id="model_sel_names" multiple>
                <option value="">----None----</option>
                {% for fname in model_data_names %}
                    <option value={{ fname }}>{{ fname }}</option>
                {% endfor %}
            </select>
            <p class="help-block">You can select multiple model datasets by holding down the Ctrl or Shift key. Select the first <i>None</i> item if you don't want to select any dataset.</p>
        </div>
        <div class="form-group">
            <label for="id_cdname">Model Data Display Name:</label>
            <input id="mdname" class="form-control" name="mdname" placeholder="model_data_file_name:model_data_display_name;another_file_name:another_display_name" value="" type="text" />
            <p class="help-block">The input must be in the format of model_data_file_name:model_data_display_name separated by semicolon for multiple datasets.</p>
        </div>
        <div class="form-group">
            <label for="id_cddesc">Model Data Description:</label>
            <input id="mddesc" class="form-control" name="mddesc" placeholder="model_data_file_name:model_data_description;another_file_name:another_description" value="" type="text" />
            <p class="help-block">The input must be in the format of model_data_file_name:model_data_description separated by semicolon for multiple datasets.</p>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-6 col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add New Profile</button>
          </div>
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <li style="color: red">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
          {% endif %}
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="create-sbml-model-dialog" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-create-sbml" role="form" action="/create_sbml_model/" method="post" id="create_sbml_form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="create-sbml-model-title">Create your own SBML model</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <p>
                        Input the information below for each phase <strong>G1</strong>, <strong>S</strong>,
                        and <strong>G2M</strong> to have a sequential SBML model created for you.
                        The SBML model will be created follwing a sequential model where each subphase
                        follows over each other.
                    </p>
                    <div class="form-group">
                        <label for="num_G1">Number of subphases in G1:</label>
                        <input id="num_G1" class="form-control" type="text" name="num_G1" placeholder="Number of subphases in G1" value="" />
                        <label for="rate_G1">Rate of G1:</label>
                        <input id="rate_G1" class="form-control" type="text" name="rate_G1" placeholder="Rate of G1" value="" />
                    </div>
                    <div class="form-group">
                        <label for="num_S">Number of subphases in S:</label>
                        <input id="num_S" class="form-control" type="text" name="num_S" placeholder="Number of subphases in S" value="" />
                        <label for="rate_S">Rate of S:</label>
                        <input id="rate_S" class="form-control" type="text" name="rate_S" placeholder="Rate of S" value="" />
                    </div>
                    <div class="form-group">
                        <label for="num_G2M">Number of subphases in G2M:</label>
                        <input id="num_G2M" class="form-control" type="text" name="num_G2M" placeholder="Number of subphases in G2M" value="" />
                        <label for="rate_G2M">Rate of G2M:</label>
                        <input id="rate_G2M" class="form-control" type="text" name="rate_G2M" placeholder="Rate of G2M" value="" />
                    </div>
                    <div class="form-group">
                        <label for="sbml_file_name">File name for the new SBML model:</label>
                        <input id="sbml_file_name" class="form-control" type="text" name="sbml_file_name" placeholder="SBML file name, e.g., sbml_model.xml" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div class="modal fade" id="delete-sbml-model-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delete-sbml-model-title">Delete the new SBML model</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the new SBML model you just created?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="delete-sbml-model-btn" type="button" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
  </div>

  {% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function() {
        // files selected from browser which are appended to display name and description boxes for placeholder input
        var cell_file_sel_str='';
        var model_file_sel_str='';
        // files selected from multiple select list which are appended to display name and description boxes for placeholder input
        var cell_name_sel_str='';
        var model_name_sel_str='';
        $('#cell_sel_files').on('change', function (e) {
            if (this.value.length > 0) {
                var i;
                cell_file_sel_str='';
                for (i=0; i<this.files.length; i++) {
                    if (i==0)
                        cell_file_sel_str += this.files[i].name + ":" + this.files[i].name;
                    else
                        cell_file_sel_str += ";" + this.files[i].name + ":" + this.files[i].name;
                }
                if (cell_name_sel_str.length > 0) {
                    $('#cdname').val(cell_file_sel_str + ";" + cell_name_sel_str);
                    $('#cddesc').val(cell_file_sel_str + ";" + cell_name_sel_str);
                }
                else {
                    $('#cdname').val(cell_file_sel_str);
                    $('#cddesc').val(cell_file_sel_str);
                }
            }
            else {
                // no file has been selected from browser
                cell_file_sel_str = '';
                $('#cdname').val(cell_name_sel_str);
                $('#cddesc').val(cell_name_sel_str);
            }
        });
        $('#cell_sel_names').on('change', function (e) {
            var selected = $(e.target).val();
            if ($.inArray('', selected) == -1) {
                // if None is not selected
                var i;
                cell_name_sel_str = '';
                for (i=0; i<selected.length; i++) {
                    if (i==0)
                        cell_name_sel_str += selected[i] + ":" + selected[i];
                    else
                        cell_name_sel_str += ";" + selected[i] + ":" + selected[i];
                }
                if (cell_file_sel_str.length > 0) {
                    $('#cdname').val(cell_file_sel_str + ";" + cell_name_sel_str);
                    $('#cddesc').val(cell_file_sel_str + ";" + cell_name_sel_str);
                }
                else {
                    $('#cdname').val(cell_name_sel_str);
                    $('#cddesc').val(cell_name_sel_str);
                }
            }
            else {
                // Nothing is selected
                cell_name_sel_str = '';
                $('#cdname').val(cell_file_sel_str);
                $('#cddesc').val(cell_file_sel_str);
            }
        });
        $('#model_sel_files').on('change', function (e) {
            if (this.value.length > 0) {
                var i;
                model_file_sel_str='';
                for (i=0; i<this.files.length; i++) {
                    if (i==0)
                        model_file_sel_str += this.files[i].name + ":" + this.files[i].name;
                    else
                        model_file_sel_str += ";" + this.files[i].name + ":" + this.files[i].name;
                }
                if (model_name_sel_str.length > 0) {
                    $('#mdname').val(model_file_sel_str + ";" + model_name_sel_str);
                    $('#mddesc').val(model_file_sel_str + ";" + model_name_sel_str);
                }
                else {
                    $('#mdname').val(model_file_sel_str);
                    $('#mddesc').val(model_file_sel_str);
                }
            }
            else {
                // no file has been selected from browser
                model_file_sel_str = '';
                $('#mdname').val(model_name_sel_str);
                $('#mddesc').val(model_name_sel_str);
            }
        });
        $('#model_sel_names').on('change', function (e) {
            var selected = $(e.target).val();
            if ($.inArray('', selected) == -1) {
                // if None is not selected
                var i;
                model_name_sel_str = '';
                for (i=0; i<selected.length; i++) {
                    if (i==0)
                        model_name_sel_str += selected[i] + ":" + selected[i];
                    else
                        model_name_sel_str += ";" + selected[i] + ":" + selected[i];
                }
                if (model_file_sel_str.length > 0) {
                    $('#mdname').val(model_file_sel_str + ";" + model_name_sel_str);
                    $('#mddesc').val(model_file_sel_str + ";" + model_name_sel_str);
                }
                else {
                    $('#mdname').val(model_name_sel_str);
                    $('#mddesc').val(model_name_sel_str);
                }
            }
            else {
                // Nothing is selected
                model_name_sel_str = '';
                $('#mdname').val(model_file_sel_str);
                $('#mddesc').val(model_file_sel_str);
            }
        });
        $('#delete-sbml-model-btn').on('click', function(event) {
            event.preventDefault();
            $.ajax({
                url: "/delete_sbml_model/" + $('#new_sbml_model_file_name').val(),
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(json) {
                    $('#delete-sbml-model-dialog').modal('hide');
                    if (json.error) {
                        $('#create-or-delete-sbml-msg').text(json.error);
                        $('#create-or-delete-sbml-msg').css({"color":"red"});
                    }
                    else {
                        $('#create-or-delete-sbml-msg').text('Your SBML model data file ' + json.new_model_filename + ' has been deleted successfully.');
                        $('#create-or-delete-sbml-msg').css({"color":"green"});
                        $('#delete-sbml-model').hide();
                        $('#delete-sbml-model-help-block').hide();
                        search_str = json.new_model_filename + ":" + json.new_model_filename;
                        if (model_name_sel_str == search_str)
                            model_name_sel_str = '';
                        else {
                            idx = model_name_sel_str.indexOf(search_str);
                            if (idx == 0)
                                model_name_sel_str = model_name_sel_str.substr(search_str.length);
                            else if (idx > 0)
                                model_name_sel_str = model_name_sel_str.substr(0, idx) + model_name_sel_str.substr(idx + search_str.length);
                        }
                        if (model_file_sel_str.length > 0 && model_name_sel_str.length > 0) {
                            $('#mdname').val(model_file_sel_str + ";" + model_name_sel_str);
                            $('#mddesc').val(model_file_sel_str + ";" + model_name_sel_str);
                        }
                        else if (model_file_sel_str.length > 0) {
                            $('#mdname').val(model_file_sel_str);
                            $('#mddesc').val(model_file_sel_str);
                        }
                        else {
                            $('#mdname').val(model_name_sel_str);
                            $('#mddesc').val(model_name_sel_str);
                        }
                    }
                },
                error: function(xhr, errmsg, err) {
                    err_display_msg = xhr.status + ": " + xhr.responseText + ". Error Message: " + errmsg;
                    console.log(err_display_msg);
                    $('#create-or-delete-sbml-msg').text(err_display_msg);
                    $('#create-or-delete-sbml-msg').css({"color":"red"});
                    $('#delete-sbml-model-dialog').modal('hide');
                }
            });
        });

        $('#create_sbml_form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: "/create_sbml_model/",
                type: "POST",
                data: {
                    num_G1: $('#num_G1').val(),
                    rate_G1: $('#rate_G1').val(),
                    num_S: $('#num_S').val(),
                    rate_S: $('#rate_S').val(),
                    num_G2M: $('#num_G2M').val(),
                    rate_G2M: $('#rate_G2M').val(),
                    sbml_file_name: $('#sbml_file_name').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(json) {
                    $('#create-sbml-model-dialog').modal('hide');
                    if (json.error) {
                        $('#create-or-delete-sbml-msg').text(json.error);
                        $('#create-or-delete-sbml-msg').css({"color":"red"});
                        $('#delete-sbml-model').hide();
                        $('#delete-sbml-model-help-block').hide();
                    }
                    else {
                        $('#create-or-delete-sbml-msg').text('Your SBML model data file ' + json.new_model_filename + ' has been created successfully. However, you can delete the new SBML model data if you want by clicking on the button above.');
                        $('#create-or-delete-sbml-msg').css({"color":"green"});
                        $('#new_sbml_model_file_name').val(json.new_model_filename);
                        $('#delete-sbml-model').show();
                        $('#delete-sbml-model-help-block').show();
                        model_name_sel_str += json.new_model_filename + ":" + json.new_model_filename;
                        if (model_file_sel_str.length > 0) {
                            $('#mdname').val(model_file_sel_str + ";" + model_name_sel_str);
                            $('#mddesc').val(model_file_sel_str + ";" + model_name_sel_str);
                        }
                        else {
                            $('#mdname').val(model_name_sel_str);
                            $('#mddesc').val(model_name_sel_str);
                        }
                    }
                },
                error: function(xhr, errmsg, err) {
                    err_display_msg = xhr.status + ": " + xhr.responseText + ". Error Message: " + errmsg;
                    console.log(err_display_msg);
                    $('#create-sbml-model-dialog').modal('hide');
                    $('#create-or-delete-sbml-msg').text(err_display_msg);
                    $('#create-or-delete-sbml-msg').css({"color":"red"});
                    $('#delete-sbml-model').hide();
                    $('#delete-sbml-model-help-block').hide();
                }
            });
        });
     });
    </script>
  {% endblock %}
{% endblock %}
