{% extends 'base.html' %}

{% block title %}Add New Profile{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <h2>Create a new profile for cell cycle browser</h2>
      <ul>
        <li>Select existing or upload new cell data and model data to be included in the new profile.</li>
        <li>Input name and description for each cell data and model data included in the new profile.</li>
        <li>You can include multiple cell data and model data in the same profile for comparative visualization.</li>
      </ul>
      <form class="form-horizontal" role="form" action="/add_profile_to_server/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_pname">Profile Name: </label>
            <input id="pname" class="form-control" name="pname" placeholder="Profile name" value="" type="text" />
        </div>
        <div class="form-group">
            <label for="id_pdesc">Profile Description:</label>
            <input id="pdesc" class="form-control" name="pdesc" placeholder="Profile Description" value="" type="text" />
        </div>
        <hr>
        <div class="form-group">
            <label for="id_cell_sel_file">Upload csv cell data</label>
            <input type="file" class="btn-add-access" name="cell_files" id="cell-sel-file" multiple/>
            <p class="help-block">You can upload multiple csv cell datasets simultaneously.</p>
        </div>
        <div class="form-group">
            <label for="id_cdname">Cell Data Display Name:</label>
            <input id="cdname" class="form-control" name="cdname" placeholder="cell_data_file_name:cell_data_display_name;another_file_name:another_display_name" value="" type="text" />
            <p class="help-block">The input must be in the format of cell_data_file_name:cell_data_display_name separated by colon for multiple datasets.</p>
        </div>
        <div class="form-group">
            <label for="id_cddesc">Cell Data Description:</label>
            <input id="cddesc" class="form-control" name="cddesc" placeholder="cell_data_file_name:cell_data_description;;another_file_name:another_description" value="" type="text" />
            <p class="help-block">The input must be in the format of cell_data_file_name:cell_data_description separated by colon for multiple datasets.</p>
        </div>
        <hr>
        <div class="form-group">
            <label for="id_model_sel_file">Upload SBML model data</label>
            <input type="file" class="btn-add-access" name="model_files" id="cell-model-file" multiple/>
            <p class="help-block">You can upload multiple SBML model datasets simultaneously.</p>
        </div>
        <div class="form-group">
            <label for="id_cdname">Model Data Display Name:</label>
            <input id="mdname" class="form-control" name="mdname" placeholder="model_data_file_name:model_data_display_name;another_file_name:another_display_name" value="" type="text" />
            <p class="help-block">The input must be in the format of model_data_file_name:model_data_display_name separated by colon for multiple datasets.</p>
        </div>
        <div class="form-group">
            <label for="id_cddesc">Model Data Description:</label>
            <input id="mddesc" class="form-control" name="mddesc" placeholder="model_data_file_name:model_data_description;another_file_name:another_description" value="" type="text" />
            <p class="help-block">The input must be in the format of model_data_file_name:model_data_description separated by colon for multiple datasets.</p>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add New Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
