{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Cell Data Set Information</h2>
        </div>
        {% if metadata_dict %}
            <div class="row">
                <h3>Below is information for the cell data set you selected:</h3>
            </div>
            {% for key, value in metadata_dict.items %}
                <div class="row">
                    <label class = "col-sm-4">{{ key }}</label>
                    <div class="col-sm-8">
                        {{ value }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <h3>The cell data set you selected does not have any metadata.</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
