{% extends 'base.html' %}

{% block title %}Data Download{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="meta-title">Download a zip file containing all datasets and models:</h3>
            <a href={{download_url}}>
                <span class="glyphicon glyphicon-download-alt" style="margin-left: 4px"></span>
            </a>
        </div>
        <div class="panel-body">
          {% if dataset_list %}
              <table class="table table-bordered table-striped">
                <caption>
                    <h3>All datasets included in the download:</h3>
                </caption>
                {% for dataset in dataset_list %}
                    <tr>
                        <td><strong>{{ dataset.fileName }}</strong></td>
                        <td>{{ dataset.name }}:{{ dataset.description }}</td>
                    </tr>
                {% endfor %}
          {% endif %}
          {% if model_list %}
              <table class="table table-bordered table-striped">
              <caption>
                  <h3>All models included in the download:</h3>
              </caption>
              {% for model in model_list %}
                  <tr>
                      <td><strong>{{ model.fileName }}</strong></td>
                      <td>{{ model.name }}:{{ model.description }}</td>
                  </tr>
              {% endfor %}
          {% endif %}
        </div>
    </div>
{% endblock %}
