{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <p>
                The best way to learn to use the Cell Cycle Browser (CCB) is by taking this short
                <a href="https://github.com/RENCI/CellCycleBrowser/wiki/tutorial">tutorial</a>.
            </p>
            <p>
                Do you have data to contribute to the Cell Cycle Browser? We are currently working
                on an interface to allow you to upload annotated data. In the meantime,
                you may contact <a href="mailto:ccb@renci.org" target=""_top">Send Email</a> for more information on how to submit your data.
            </p>
        </div>
    </div>
{% endblock %}
