{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <h2>Help</h2>
        </div>
        <div class="row">
            <p>
                The Human Cell Cycle Browser is an interactive tool for exploring, simulating, and perturbing
                the human cell cycle. The browser has several overlapping functionalities. First, it provides
                a high-resolution timeline of molecular events that occur as a cell progresses through the
                cell cycle. Each timeline is constructed from time-lapse fluorescence images of single cells
                that capture the activities of one or more cell cycle “species” - to be completed...
            </p>
        </div>
    </div>
{% endblock %}
