<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}{% endblock %}{% if SITE_TITLE %} | {{ SITE_TITLE }}{% endif %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cc_core/css/slider.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'cc_core/css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/js/tether.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'cc_core/js/data_ajax.js' %}"></script>
</head>
<body>
  {# <div id="main"> {{ text_to_display }}</div> #}
   {% csrf_token %}
    &nbsp;
  {#  <span id ="model-run"> #}
  {#    <button id="btn-run-model" type="button" class="btn btn-default margin_left" onclick="run_model_ajax('{{ model_input_file_name }}'); return false;">Run Simulation</button> #}
  {#  </span> #}

  <input type="hidden" id="task_id" name="task_id" value=''>
  <div id='simulation-status-info' class='alert alert-success' style='display:none'>
      Please wait for the model simulation run to finish<span id='loading'>.</span>
      <button id="btn-kill-model" type="button" class="btn btn-default margin_left" onclick="terminate_model_ajax(); return false;">Terminate Simulation</button>
  </div>
  <div id="app"></div>
  <script type="text/javascript" src="{% static 'cc_core/js/index_bundle.js' %}"></script>
</body>
</html>
