{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <h2>Team</h2>
        </div>
        <div class="row">
            <label class = "col-sm-4">David Borland</label>
			<div class="col-sm-8">
				Lead Programmer, User Interface
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Hong Yi</label>
			<div class="col-sm-8">
				Lead Programmer, Server Support and Model Simulation
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Gavin Grant</label>
			<div class="col-sm-8">
				Postdoctoral Fellow, Biosensor Design and Microscopy
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Kasia Kedziora</label>
			<div class="col-sm-8">
				Postdoctoral Fellow, Microscopy and Image Analysis
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Sherry Chao</label>
			<div class="col-sm-8">
				Graduate Student, Microscopy and Image Analysis
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Ray Haggerty</label>
			<div class="col-sm-8">
				Graduate Student, Logo Design
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Jean Cook</label>
			<div class="col-sm-8">
				Principal Investigator
			</div>
        </div>
		<div class="row">
            <label class = "col-sm-4">Jeremy Purvis</label>
			<div class="col-sm-8">
				Principal Investigator
			</div>
        </div>
		<div class="row">
            <h3>This work was supported by a medical research grant from W. M. Keck Foundation.</h3>
        </div>
    </div>
{% endblock %}
