<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}{% endblock %}{% if SITE_TITLE %} | {{ SITE_TITLE }}{% endif %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cc_core/css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'cc_core/js/data_ajax.js' %}"></script>
</head>
<body>
  <div id="main"> {{ text_to_display }}</div>
  <form action="" method="post" style="float: left">
      {% csrf_token %}
      <button type="button" class="btn btn-default" onclick="request_profile_list_ajax(); return false;">Request profileList by AJAX</button>
  </form>
  &nbsp;
  <a id="btn-download-phases" type="button" class="btn btn-default" href="/phases/u2os_53bp1_pcna.xml">Download phases</a>
  <a id="btn-download-species" type="button" class="btn btn-default" href="/species/u2os_53bp1_pcna.xml">Download species</a>
  <a id="btn-download-parameters" type="button" class="btn btn-default" href="/parameters/u2os_53bp1_pcna.xml">Download parameters</a>
  <form action="/runmodel/u2os_53bp1_pcna.xml" method="post" style="float: right">
      {% csrf_token %}
      <span id ="model-run">
          Trajectories:<input type="text" class="margin_left" name="trajectories" id="tragectories" value="1">
          End time:<input type="text" class="margin_left" name="end" id="end" value="100">
          <button id="btn-run-model" type="submit" class="btn btn-default margin_left">Run Simulation</button>
      </span>
  </form>
  <div id="app"></div>
  <script type="text/javascript" src="{% static 'cc_core/js/index_bundle.js' %}"></script>
</body>
</html>

