<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'cc_core/css/style.css' %}" />
</head>
<body>
  <div id="header"></div>
  <div id="main">{{ text_to_display }}</div>
</body>
</html>

