*.pyc
*.pyo
*.db
.coverage
.DS_Store
.idea
/server/celery
/server/cellcycle/local_settings.py
/server/data
/server/cc_core/static/cc_core/js/index_bundle.js
/server/cc_core/static/cc_core/js/index.html
/server/static
/server/log
/server/config/local-env.sh
/server/celeryd.pid
/server/docker-compose.yml
/client/dist
/client/node_modules
/client/data
npm-debug*
