*.pyc
*.pyo
*.db
.coverage
.DS_Store
.idea
/celery
/cellcycle/local_settings.py
/data
/cc_core/static/cc_core/js/index_bundle.js
/static
/log
/static
celeryd.pid
/browser/dist
/browser/node_modules
/browser/data
npm-debug*
