li a {
    color: green;
}

.main {
    color: blue;
}

.btn-add-access {
	height: 34px;
	border-radius: 0;
	width: 100%;
	margin-top: 7px;
}

.btn-default {
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
}

#btn-add-profile {
	border: 1px solid #909090;
    padding: 10px;
    border-radius: 4px;
}

.icon-button {
    font-size: 24px;
    cursor: pointer;
    float: left;
    margin: 0 4px;
    padding: 5px;
    background-color: transparent;
    width: auto !important;
}

.margin_left {
    margin-left: 10px;
}

#add-profile-dialog {
top:5%;
left:25%;
outline: none;
}

.text-red {
	color: #E74C3C;
}

.hidden-form {
	display: none;
}

.meta-title {
    display: inline-block;
    font-weight:bold;
}
